MessageHub.Data/obj
MessageHub.Client/obj
MessageHub/obj
.vs
MessageHub.Server/obj
MessageHub.Server/Platforms
MessageHub.ViewModel/obj
MessageHub.ViewModel/obj
MessageHub.Data/obj
MessageHub.Client/obj
MessageHub/obj
.vs/ProjectEvaluation
MessageHub/bin
MessageHub.Client/bin
MessageHub.Data/bin
MessageHub.Server/obj
MessageHub.ViewModel/bin
.vs/MessageHub/DesignTimeBuild
.vs/MessageHub/FileContentIndex
.vs/MessageHub/v17
